.animal-card {
	width: 300px;
	box-shadow: 5px 5px 15px #ca8;
	background-color: #bde;
}

.animal-image {
	border-radius: 10px;
}

.animal-information {
	margin-top: 10px;
	font-size: 0.7em;
	background-color: #fec;
}

.interesting-fact {
	font-style: italic;
}

.items-list {
	list-style-type: none;
	text-indent: -40px;
}

.item-title {
	font-weight: bold;
	font-size: 1em;
}

.border-container {
	padding: 0 10px 10px 10px;
	border: 1px solid #eee;
	border-radius: 10px;
}
